@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: Roboto;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

}
nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  position: sticky;
  top: 0px;
  width: 100vw;
  padding: 15px;
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
}
#nav_icons {
  display: flex;
  align-items: center;
}
#nav_icons > img {
  height: 49px;
}
#nav_icons > p {
  color: #373737;
  font-size: 25px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
}
#vertical_line {
  height: 30px;
  padding-inline: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.61);
}
#nav_links {
  display: flex;
  align-items: center;
}
#nav_links > ul {
  display: flex;
  list-style-type: none;
}
#nav_links > ul > li > a {
  text-decoration: none;
  color: #373737;
  font-size: 22px;
  padding-inline: 15px;
}
#nav_links > button {
  width: 223px;
  height: 49px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding: 0px 10px;
  border: none;
  border-radius: 23.5px;
  background: #184655;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
}
#hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(./assets/bg-hero.png);
  margin: auto;
  border-radius: 50px;
  width: 95vw;
  height: 742px;
  padding: 20px;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
}
.hero_body > h1 {
  color: #184655;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#hashtags {
  width: 331px;
  margin-left: 20px;
}
#hashtags > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
#hashtags > ul > li {
  color: #53748c;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 30px;
}
#search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 546px;
  /* width: 25vw; */
  height: 78.93px;
  border-radius: 19px;
  background: #fff;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}
#search-bar > div {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#search-bar > div > img {
  /* color: #616161; */
  padding-inline: 20px;
}
#search-bar > div > input {
  color: #727272;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 25.96px */
  /* width: 236.79px; */
  height: 22.784px;
  border: none;
  width: 100%;
}
#search-bar > button {
  flex: 1;
  height: 78.93px;
  /* width: 189.595px; */
  border-radius: 0px 19px 19px 0px;
  background: #184655;
  font-size: 22px;
  font-weight: 700;
  line-height: 118%;
  color: #fff;
  text-align: center;
  font-family: Poppins;
}
#blog {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(./assets/bg-hero.png);
  margin: auto;
  border-radius: 40px;
  width: 95vw;
  height: 512px;
  padding: 20px;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#blog > img {
  border-radius: 15px;
  padding: 10px;
  width: 50%;
}
#blog_body {
  padding: 10px;
}
#blog_body > h1 {
  color: #404040;
  font-size: 42px;
  font-weight: 500;
}
#blog_body > div {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
#blog_body > p {
  height: 348px;
  color: #464343;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
}
#blog_body > div > p {
  color: rgba(111, 110, 110, 0.84);
  font-size: 25px;
  font-weight: 500;
}
#cards {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
#card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 2px 20px -1px #00000040;
  background: linear-gradient(
    117.42deg,
    rgba(249, 247, 247, 0.1) 19.16%,
    rgba(249, 247, 247, 0.4) 80.19%
  );
  overflow: hidden;
  width: 32%;
  /* width: 431.53px; */
  /* height: 469px; */
}
#card > img {
  width: 100%;
}
#card_body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
#card_body > h1 {
  width: 394.06px;
  height: 31.65px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}
#card_body > div {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 15px;
}
#card_body > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: justified;
  padding-top: 15px;
  padding-bottom: 15px;
}
#card_body > a {
  text-align: right;
  text-decoration: none;
  /* width: 70px; */
  height: 23px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  color: #213949;
  padding-bottom: 10px;
  padding-right: 10px;
}
footer {
  display: flex;
  justify-content: space-around;
  background-size: cover;
  width: 95vw;
  height: 707px;
  background-image: url(./assets/bg-hero.png);
  border-radius: 30px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin-bottom: 30px;
}
footer > img {
  width: 751.1px;
}
footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 524.656px;
}
footer > div > button {
  width: 251px;
  height: 49px;
  border-radius: 23.5px;
  background: linear-gradient(92deg, #2c56aa 14.14%, #3bb08b 84.43%);
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  margin-top: 83px;
}
